<nav class="border-t-2 border-cool-gray w-full ">
    <ul class="flex flex-row w-full p-4 justify-around md:px-8 md:py-4">
        <li> 
            <a class="button" routerLink="/home">
                <ng-icon name="heroHomeSolid"></ng-icon> 
                <span>Home</span>
            </a>
        </li>
        <li> 
            <a class="button" routerLink="/top-rated">
                <ng-icon name="heroStarSolid"></ng-icon> 
                <span>Populares</span>
            </a>
        </li>
        <li>
            <a class="button" routerLink="/user">
                <ng-icon name="heroUserCircleSolid"></ng-icon>
                <span>Usuario</span>   
            </a> 
        </li>
    </ul>
</nav>
