<div class="slides h-2/6">
    <!-- Slider main container -->
<div class="swiper h-full swiper-container-2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        @for (movie of movies; track movie.id) {
            <div 
            [ngStyle]="{
            'background-size':'cover',
            'background-image': 'url(https://image.tmdb.org/t/p/w500'+movie.backdrop_path + ')'
            }"
            class="swiper-slide relative rounded-2xl">
                <div class="description rounded-2xl">
                    <h3>{{movie.title}} <button class="button-detalles" (click)="onClickdetailView(movie)"> Detalles </button></h3>
                    <p>{{movie.overview | slice: 0:140}}...</p>
                </div>
            </div>
        }
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev" (click)="onSlidePrev()"></div>
    <div class="swiper-button-next" (click)="onSlideNext()"></div>
  </div>
</div>
