.form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-size: 1.2rem;
    gap: 0.5rem;
    padding: 0.4rem 0;
}

.input > input{
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.2rem;
    color: black;
}

button {
    width: 100%;
    display: block;
    margin-top: 1.2rem;
    border-radius: 0.5rem;
}